.role-btn {
    display: inline-block;
    width: 120px;
    padding: 10px;
    text-align: center;
    border: 2px solid #ff7f32;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f8f9fa;
    color: #ff7f32;
}

.btn-check:checked + .role-btn {
    background-color: #ff7f32;
    color: white;
}

.role-btn:hover {
    background-color: #f56207;
    color: white;
}