
.navbar-custom .offcanvas-body,
.navbar-custom .offcanvas-title,
.navbar-custom .offcanvas-end {
        background-color: #BB2E29;
        backdrop-filter: blur(10px);
}

.navbar-custom .toggler-myicon{
    color: white;
}


.navbar-custom{
    background-color: #BB2E29;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {

    color: white;

}